body{
background: rgb(148,228,255);
background: linear-gradient(174deg, #94E4FF 2%, #70DBFF 8%, #007EA7 65%);
background-attachment: fixed;
background-size: cover;
}

tbody th,td{
  background: rgba(255,255,255,1);
}

thead{
  background: #006B8F;
}

nav li a, .logout-btn{
  font-weight: 700;
}

.carousel-item {
  max-height: 450px;
}

.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
