body{
background: rgb(148,228,255);
background: linear-gradient(174deg, rgba(148,228,255,1) 2%, rgba(112,219,255,1) 8%, rgba(0,126,167,1) 65%);
background-attachment: fixed;
background-size: cover;
}

tbody th,td{
  background: rgba(255,255,255,1);
}

thead{
  background: #006B8F;
}

nav li a, .logout-btn{
  font-weight: 700;
}
